.container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-top: 60px;
  padding-left: 40px;
  box-sizing: border-box;
  max-height: 100%;

  .content {
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    box-sizing: border-box;
    max-width: 100%;
    flex: 1 1 0;
  }
}


.personal-settings {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 20px;

  .section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;

    .button-add {
      margin-bottom: 20px;
      outline: none;
    }

    .result-line {
      padding-top: 45px;
      font-size: 16px;

      span {
        font-size: 18px;
        color: green;
      }
    }

    .input-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .button-delete {
        width: 28px;
        height: 48px;
        outline: none;

        mat-icon {
          color: #979fa8;
        }

        mat-icon:hover {
          color: #f03e47;
        }
      }

      mat-form-field {
        width: 100%;

        mat-icon {
          position: absolute;
          right: 0;
          cursor: pointer;
          opacity: 0.3;
        }
      }
    }
  }

  .member-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
  }
}


.buttons {
  margin: auto;
  padding-top: 30px;
  text-align: center;

  button {
    width: 180px;
    outline: none;
  }
}
