<section class="container">
  <div class="content">
    <div class="personal-settings">
      <div class="section">
        <form [formGroup]="secretSanta">
          <div class="block-header">
            Enter Names
          </div>

            <div [formGroup]="secretSanta">
              <button mat-stroked-button color="primary" class="button-add" (click)="onAddMember()">Add
                Member
              </button>
              <div formArrayName="membersList">

                <div class="input-line" *ngFor="let item of membersArray(secretSanta).controls; let i = index">
                    <mat-form-field appearance="outline">
                      <mat-label>
                        Name
                      </mat-label>
                      <input matInput [formControlName]="i">
                    </mat-form-field>
                    <button mat-flat-button class="button-delete" (click)="removeMember(secretSanta, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>


              </div>
            </div>
          <div class="buttons">
            <button mat-flat-button color="primary" (click)="createPair()"
                    [disabled]="">
              RUN
            </button>
          </div>
        </form>
      </div>
      <div class="section">
        <div class="block-header">
          Members List
        </div>
        <div *ngFor="let member of result">
          <div class="result-line">
            Sender: <span>{{member.sender}}</span> -> Receiver: <span>{{member.receiver}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
