<nav class="nav-border" *ngIf="show">
  <div class="navbar-header">
    <div class="nav-heading">
      <h1 *ngFor="let header of (adminMode ? adminNavHeaders: navHeaders)" routerLink="{{ header.link }}"
          routerLinkActive="active" class="name">
        {{ header.name }}
      </h1>
    </div>
    <div class="navbar-right layout">
      <ng-container [ngSwitch]="headerState">
        <ng-container *ngSwitchCase="headerStateConfig.projects">
          <button mat-flat-button
                  color="primary"
                  class="roles"
                  routerLink="/projects/new">
            New Project
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="headerStateConfig.calendar"></ng-container>
        <ng-container *ngSwitchCase="headerStateConfig.employees">
          <button mat-flat-button
                  color="primary"
                  class="roles"
                  routerLink="/employees/new">
            New Employee
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="headerStateConfig.secretSanta"></ng-container>
      </ng-container>

      <app-notifications></app-notifications>
      <button mat-button [matMenuTriggerFor]="userBlock" class="btn-avatar">
        <div class="user-avatar"></div>
      </button>
      <mat-menu #userBlock="matMenu">
        <button mat-menu-item (click)="goToProfile()">
          UserProfile
        </button>
        <button mat-menu-item (click)="onLogout()">
          Logout
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
