.projects-list-container {
  margin: 20px 20px 30px 15px;
  height: calc(100% - 50px);
}
.projects-list-content-container {
  margin-left: 30px;
  width: 100%;
  height: 100%;
}
.projects-list-table {
  table {
    width: 100%;
  }
  mat-table {
    mat-header-row {
      background: #f4f5f6;
      min-height: 35px;
      mat-header-cell {
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: #0d1116;
        height: 20px;
      }
      mat-header-cell:first-of-type {
        padding-left: 20px;
      }
      mat-header-cell:last-of-type {
        padding-right: 15px;
      }
    }
    mat-row {
      min-height: 65px;
      mat-cell {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.79;
        letter-spacing: normal;
        color: #131c2a;
        .cell-container, {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    mat-row:hover {
      background: #fafafa;
    }
  }
}

tr.projects-detail-row {
  height: 0;
}
.projects-element-row td {
  border-bottom-width: 0;
}

.projects-element-detail {
  overflow: hidden;
  display: flex;
}
.projects-element-description {
  padding: 16px;
}

