.container {
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  max-height: 100%;
  input {
    padding: 3px 0;
  }
  .content {
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    box-sizing: border-box;
    max-width: 100%;
    flex: 1 1 0;
    padding-bottom: 20px;
  }
}

.personal-settings form {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 20px;
  .section {
    display: flex;
    flex-direction: column;
    width: calc(50% - 25px);
    &.sign-in-info {
      margin-right: 50px;
    }
    .input-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .input {
        width: calc(50% - 20px);
        position: relative;
      }

      mat-form-field {
        width: 100%;
        mat-icon {
          position: absolute;
          right: 0;
          cursor: pointer;
          opacity: 0.3;
          &:hover {
            opacity: 1;
            color: #1447cc;
          }
        }
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
  padding-right: 20px;
  button {
    width: 180px;
  }

  .disable-color {
    margin-right: 20px;
  }
}
