<div class="calendar-header">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <button mat-flat-button
                color="primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)"
        >
          <
        </button>
        <button mat-stroked-button
                color="primary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)"
        >
          Today
        </button>
        <button mat-flat-button
                color="primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)"
        >
          >
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <button mat-raised-button
                (click)="viewChange.emit(CalendarView.Month)"
                [class.active]="view === CalendarView.Month"
        >
          Month
        </button>
        <button mat-raised-button
                (click)="viewChange.emit(CalendarView.Week)"
                [class.active]="view === CalendarView.Week"
        >
          Week
        </button>
        <button mat-raised-button
                (click)="viewChange.emit(CalendarView.Day)"
                [class.active]="view === CalendarView.Day"
        >
          Day
        </button>
      </div>
    </div>
  </div>
</div>
